* {
  padding: 0;
  margin: 0;
}

.body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bg-primary {
  background-color: #3489eb !important;
}

.container {
  width: 70%;
}
.row {
  min-height: 80vh;
}

.login {
  margin-bottom: 30px;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  color: #1bdd96;
}

.form-label {
  position: absolute;
  top: 30%;
  left: 30px;
  font-size: 14px;
  transition: 0.4s;
}

.bi {
  position: absolute;
  font-size: 20px;
  top: 30%;
  left: 2px;
  transition: 0.4s;
}

.fs-7 {
  font-size: 14px;
}

.fs-7 a {
  text-decoration: none;
}

.text-gray {
  color: #888a8c !important;
}

.form-control-s {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  height: 40px;
  font-size: 14px;
  padding: 0 0 0 28px;
  border-bottom: 2px solid #888a8c;
  transition: 0.4s;
}

.mbe input:focus ~ label,
.mbe input:valid ~ label {
  top: -10px;
  color: #3489eb;
}

.mbe input:focus ~ .bi,
.mbe input:valid ~ .bi {
  color: #3489eb;
}

.mbe input:focus,
.mbe input:valid {
  border-bottom: 2px solid #3489eb;
}

.btn:focus {
  box-shadow: 1px #48cf00;
}
