* {
  padding: 0;
  margin: 0;
}

.body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, rgba(81, 238, 88, 0.8), rgba(81, 238, 219, 0.8), rgba(81, 161, 238, 0.8));
  background-size: 400%;
  animation: bg-login 8s ease infinite;
}

.login {
  margin-bottom: 30px;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  color: #1bdd96;
}

.form {
  background: rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 2px white;
  border-radius: 10px;
}

.form-label {
  position: absolute;
  color: #fff;
  top: 25%;
  left: 55px;
  transition: 0.4s;
}

.fas {
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 29%;
  left: 32px;
  transition: 0.4s;
}

.form-control-sm {
  width: 90%;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  height: 40px;
  padding: 0 0 0 28px;
  border-bottom: 2px solid #fff;
  color: #fff;
  transition: 0.4s;
}

.mb-3 input:focus ~ label,
.mb-3 input:valid ~ label {
  top: -5px;
}

.mb-3 input:focus ~ .fas,
.mb-3 input:valid ~ .fas {
  color: #ffb900;
}

.mb-3 input:focus,
.mb-3 input:valid {
  border-bottom: 2px solid #ffb900;
}

.btn:focus {
  box-shadow: 1px #48cf00;
}

@keyframes bg-login {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
